@import url('https://fonts.googleapis.com/css2...');

html {
    background-color: #f0f3f8;
}
 #icone {
    border-radius: 10px;
 }
#menu {
margin: 0 auto;
padding: 0 ;
box-sizing: border-box;
border-radius: 50px;
text-align: center;

}

#titulo {
    color: rgb(46, 8, 102);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: K2D;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;

}
#menu ul {                         /* barrinha dedondinha*/
list-style: none;
padding: 20px ;
background-color: rgb(97, 93, 218); 
border-radius: 30px;

}
.nav {
    cursor: pointer;                     /*  mouse de mãozinha*/
  }

#menu ul li {
display: inline;
}
#menu ul li a{
color: #fff;
padding: 15px;
display: inline-block;
text-decoration: none;
display: inline;
transition: background .3s;
font-size: 20px;
border-radius: 50px;

}
#menu ul li a:hover{
font-size: 21px;
background-size: 20px;
color: rgb(7, 3, 32);
background-color: rgb(255, 255, 255);
padding: 10px;



}

#footer{   
    color: #fff;
    padding: 35px;
    background-color: rgba(44, 13, 243, 0.726);
    text-align: center;
    border-radius: 20px;
    
}

#ig{
    width: 23px;
    height: 23px;
    padding: 10px;
}
#link{
    width: 23px;
    height: 23px;
    padding: 10px;
}
#git{
    width: 23px;
    height: 23px;
    padding: 10px;
}
#igj{
    width: 23px;
    height: 23px;
    padding: 10px;
}
#linkj{
    width: 23px;
    height: 23px;
    padding: 10px;
}
#gitj{
    width: 23px;
    height: 23px;
    padding: 10px;
}

    #copy {
        color: rgb(181, 179, 179);
}

    #pquem{
        font-size: 20px;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        
}
    a:visited {
        text-decoration:none;
    }

    a:link {
        text-decoration:none;
        color: black;
}

#footer1{
    color: #fff;
    padding: 35px;
    background-color: rgba(44, 13, 243, 0.726);
    text-align: center;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;

}


#texto{
    font-size: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.subt{
    font-size: 30px;
    color: rgb(37, 6, 74) ;
    text-align: center;
}

#lin{
text-decoration: none;
}

a { color: inherit; } 



